In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
links=pd.read_excel("links.xlsx")

In [3]:
links

,Dados,Links,Anual,Mensal,Diário
0,IPCA,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
1,PIB,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
2,INPC,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
3,Dólar,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
4,Salário mínimo vigente,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
5,Desemprego (até 2016.02),http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
6,CDI,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
7,Taxa de juros nominal Overnight Selic,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
8,IBOVESPA fechamento mensal,http://www.ipeadata.gov.br/ExibeSerie.aspx?ser...,NaN,Sim,NaN
9,IBOVESPA fechamento diário,http://www.ipeadata.gov.br//ExibeSerie.aspx?se...,NaN,NaN,Sim

In [4]:
def get_data_ipeadata(link):
    """ 
    str => list
    Recebe uma url do site ipeadata, e retorna a tabela com os dados
    Utiliza a biblioteca requests e beautiful soup
    A tabela é encontrada por meio da tag <td> e da classe "dxgv"
    """

    #pega html do site
    html=requests.get(link).content

    #tratamento com o BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')

    #filtra o que queremos, que é o que está dentro da tag <td> com a classe "dxgv", a parte string=True garante que não vamos pegar strings vazias
    td_tags = soup.find_all('td',class_="dxgv",string=True)

    #extrai o texto de dentro da tag, que é o dado que queremos mesmo, e coloca numa lista
    tds = [td.text for td in td_tags]
   
    
    return tds

def transform_data(dado,lista,mensal,diario):
    """ 
    str,list,str,str => dataframe
    Recebe o nome do dado, a lista com as tags, e se o dado é mensal ou não
    Transforma a lista num dataframe de 2 colunas, uma com a data e outra com o dado daquela data
    Se for mensal, cria duas outras colunas com o ano e o mês (em formato de número)
    Se for diário, cria três outras colunas com o ano, o mês(em formato de número) e o dia
    Também cria uma coluna com a variação percentual dos dados
    """
    #transforma a lista obtida em um dataframe com duas colunas, e define o nome das colunas
    df=pd.DataFrame([lista[n:n+2] for n in range(0, len(lista), 2)])
    df.columns=["data",dado]
    
    #corrige pontuação das casas de milhar e da vírgula, além de transformar o tipo do dado para númerico (isso é util para quando formos exportar para csv)
    df[dado]=pd.to_numeric(df[dado].apply(lambda x: str(x).strip().replace(".","").replace(",",".")))
    #separa mês do ano
    if mensal == "Sim": df[["ano", "mês"]] = df["data"].str.split(".", expand = True)
    elif diario == "Sim": df[["dia", "mês","ano"]] = df["data"].str.split("/", expand = True)
    
    #calcula variação percentual
    df["variação"]= df[dado].pct_change()
    return df

In [7]:
dfs={}
for index,row in links.iterrows():
    dado=links.loc[index,"Dados"]
    link=links.loc[index,"Links"]
    mensal,diario=links.loc[index,"Mensal"],links.loc[index,"Diário"]
    lista=get_data_ipeadata(link)
    df=transform_data(dado,lista,mensal,diario)
    dfs[dado]=df
    df.to_csv(f"./databases/{dado}.csv",sep=";",decimal=",")

In [8]:
dfs['IPCA']

        data          IPCA   ano mês  variação
0    1979.12  7.618300e-09  1979  12       NaN
1    1980.01  8.122300e-09  1980  01  0.066156
2    1980.02  8.497300e-09  1980  02  0.046169
3    1980.03  9.010400e-09  1980  03  0.060384
4    1980.04  9.486700e-09  1980  04  0.052861
..       ...           ...   ...  ..       ...
513  2022.09  6.370340e+03  2022  09 -0.002900
514  2022.10  6.407930e+03  2022  10  0.005901
515  2022.11  6.434200e+03  2022  11  0.004100
516  2022.12  6.474090e+03  2022  12  0.006200
517  2023.01  6.508400e+03  2023  01  0.005300

[518 rows x 5 columns]

In [9]:
dfs

{'IPCA':         data          IPCA   ano mês  variação
 0    1979.12  7.618300e-09  1979  12       NaN
 1    1980.01  8.122300e-09  1980  01  0.066156
 2    1980.02  8.497300e-09  1980  02  0.046169
 3    1980.03  9.010400e-09  1980  03  0.060384
 4    1980.04  9.486700e-09  1980  04  0.052861
 ..       ...           ...   ...  ..       ...
 513  2022.09  6.370340e+03  2022  09 -0.002900
 514  2022.10  6.407930e+03  2022  10  0.005901
 515  2022.11  6.434200e+03  2022  11  0.004100
 516  2022.12  6.474090e+03  2022  12  0.006200
 517  2023.01  6.508400e+03  2023  01  0.005300

 [518 rows x 5 columns],
 'PIB':         data       PIB   ano mês  variação
 0    1990.01       0.2  1990  01       NaN
 1    1990.02       0.4  1990  02  1.000000
 2    1990.03       0.8  1990  03  1.000000
 3    1990.04       0.7  1990  04 -0.125000
 4    1990.05       0.8  1990  05  0.142857
 ..       ...       ...   ...  ..       ...
 392  2022.09  829534.3  2022  09 -0.030885
 393  2022.10  832985.7  2022  10  0.004161
 394  2022.11  835550.2  2022  11  0.003079
 395  2022.12  841037.0  2022  12  0.006567
 396  2023.01  811514.5  2023  01 -0.035102

 [397 rows x 5 columns],
 'INPC':         data          INPC   ano mês  variação
 0    1979.03  5.576500e-09  1979  03       NaN
 1    1979.04  5.768900e-09  1979  04  0.034502
 2    1979.05  5.870400e-09  1979  05  0.017594
 3    1979.06  6.046500e-09  1979  06  0.029998
 4    1979.07  6.370500e-09  1979  07  0.053585
 ..       ...           ...   ...  ..       ...
 522  2022.09  6.603940e+03  2022  09 -0.003200
 523  2022.10  6.634980e+03  2022  10  0.004700
 524  2022.11  6.660190e+03  2022  11  0.003800
 525  2022.12  6.706150e+03  2022  12  0.006901
 526  2023.01  6.737000e+03  2023  01  0.004600

 [527 rows x 5 columns],
 'Dólar':         data         Dólar   ano mês  variação
 0    1953.01  6.683600e-15  1953  01       NaN
 1    1953.02  1.337800e-14  1953  02  1.001616
 2    1953.03  1.337800e-14  1953  03  0.000000
 3    1953.04  1.488400e-14  1953  04  0.112573
 4    1953.05  1.427600e-14  1953  05 -0.040849
 ..       ...           ...   ...  ..       ...
 836  2022.09  5.236400e+00  2022  09  0.018220
 837  2022.10  5.249700e+00  2022  10  0.002540
 838  2022.11  5.274100e+00  2022  11  0.004648
 839  2022.12  5.241800e+00  2022  12 -0.006124
 840  2023.01  5.200100e+00  2023  01 -0.007955

 [841 rows x 5 columns],
 'Salário mínimo vigente':         data  Salário mínimo vigente   ano mês  variação
 0    1940.07            8.727300e-14  1940  07       NaN
 1    1940.08            8.727300e-14  1940  08       0.0
 2    1940.09            8.727300e-14  1940  09       0.0
 3    1940.10            8.727300e-14  1940  10       0.0
 4    1940.11            8.727300e-14  1940  11       0.0
 ..       ...                     ...   ...  ..       ...
 985  2022.08            1.212000e+03  2022  08       0.0
 986  2022.09            1.212000e+03  2022  09       0.0
 987  2022.10            1.212000e+03  2022  10       0.0
 988  2022.11            1.212000e+03  2022  11       0.0
 989  2022.12            1.212000e+03  2022  12       0.0

 [990 rows x 5 columns],
 'Desemprego (até 2016.02)':         data  Desemprego (até 2016.02)   ano mês  variação
 0    2002.03                      12.9  2002  03       NaN
 1    2002.04                      12.5  2002  04 -0.031008
 2    2002.05                      11.9  2002  05 -0.048000
 3    2002.06                      11.6  2002  06 -0.025210
 4    2002.07                      11.9  2002  07  0.025862
 ..       ...                       ...   ...  ..       ...
 163  2015.10                       7.8  2015  10  0.040000
 164  2015.11                       7.5  2015  11 -0.038462
 165  2015.12                       6.9  2015  12 -0.080000
 166  2016.01                       7.6  2016  01  0.101449
 167  2016.02                       8.2  2016  02  0.078947

 [168 rows x 5 columns],
 'CDI':         data   CDI   ano mês  variação
 0    1986.03  0.87  1986  03       NaN
 1    1986.04  1.37  1986  04  0.574713
 2    1986.05  1.32  1986  05 -0.036496
 3    1986.06  1.57  1986  06  0.189394
 4    1986.07  2.23  1986  07  0.420382
 ..       ...   ...   ...  ..       ...
 439  2022.10  1.02  2022  10 -0.046729
 440  2022.11  1.02  2022  11  0.000000
 441  2022.12  1.12  2022  12  0.098039
 442  2023.01  1.12  2023  01  0.000000
 443  2023.02  0.76  2023  02 -0.321429

 [444 rows x 5 columns],
 'Taxa de juros nominal Overnight Selic':         data  Taxa de juros nominal Overnight Selic   ano mês  variação
 0    1974.01                                  19.00  1974  01       NaN
 1    1974.02                                  14.71  1974  02 -0.225789
 2    1974.03                                  14.84  1974  03  0.008838
 3    1974.04                                  15.53  1974  04  0.046496
 4    1974.05                                  15.94  1974  05  0.026401
 ..       ...                                    ...   ...  ..       ...
 585  2022.10                                  12.95  2022  10 -0.049192
 586  2022.11                                  12.95  2022  11  0.000000
 587  2022.12                                  14.30  2022  12  0.104247
 588  2023.01                                  14.30  2023  01  0.000000
 589  2023.02                                  10.30  2023  02 -0.279720

 [590 rows x 5 columns],
 'IBOVESPA fechamento mensal':         data  IBOVESPA fechamento mensal   ano mês   variação
 0    1968.02                     14.0871  1968  02        NaN
 1    1968.03                      9.5045  1968  03  -0.325305
 2    1968.04                     22.1068  1968  04   1.325930
 3    1968.05                      8.6270  1968  05  -0.609758
 4    1968.06                     -8.7248  1968  06  -2.011337
 ..       ...                         ...   ...  ..        ...
 654  2022.08                      0.1900  2022  08  -0.959488
 655  2022.09                      0.4700  2022  09   1.473684
 656  2022.10                      5.7400  2022  10  11.212766
 657  2022.11                     -3.0600  2022  11  -1.533101
 658  2022.12                      0.5000  2022  12  -1.163399

 [659 rows x 5 columns],
 'IBOVESPA fechamento diário':             data  IBOVESPA fechamento diário dia mês   ano  variação
 0     23/02/2023                      107593  23  02  2023       NaN
 1     22/02/2023                      107152  22  02  2023 -0.004099
 2     17/02/2023                      109177  17  02  2023  0.018898
 3     16/02/2023                      109941  16  02  2023  0.006998
 4     15/02/2023                      109600  15  02  2023 -0.003102
 ...          ...                         ...  ..  ..   ...       ...
 7225  07/01/1994                         476  07  01  1994 -0.038384
 7226  06/01/1994                         444  06  01  1994 -0.067227
 7227  05/01/1994                         421  05  01  1994 -0.051802
 7228  04/01/1994                         401  04  01  1994 -0.047506
 7229  03/01/1994                         380  03  01  1994 -0.052369

 [7230 rows x 6 columns]}